<mat-toolbar color="primary" class="mb-3 mr-3 sticky-top">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  ></button>
  <a routerLink="/library" class="font-weight-normal app-name"
    >Library Management</a
  >
  <span class="example-spacer"></span>
  <a routerLink="/my-books" class="my-books">
    <mat-icon style="font-size: 1.5em" matTooltip="View Your Books"
      >local_library
      <span
        *ngIf="booksBorrowed > 0"
        [matBadge]="booksBorrowed"
        [matBadgeColor]="'warn'"
        matBadgeOverlap="true"
        matBadgePosition="after"
      ></span>
    </mat-icon>
  </a>
</mat-toolbar>
